﻿@using StaticChat.Models
@model  IndexViewModel
@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"  

<div>
    @foreach (Message m in Model.Messages)
    {
        <div>@m.Text</div>
        <div>@m.Sign</div>
        <hr />
    }
</div>
<form method="post">
    <br /><textarea asp-for="Text" cols="80" rows="5"></textarea>
    <br />Sign <input asp-for="Sign" />
    <input type="submit" value="Send" />
</form>

